@{
    ViewData["Title"] = "Photo";
    Layout = "_Layout";
}

@model PostCollector

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    @*<style>
        /*#testim {
            top: 100px;
            left: 100px;
            bottom: 0; right: 0;
        }*/
    </style>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>*@
    <style>
        .border {
        list-style: none;
        padding: 0;
        }
        .border li {
        font-family: "Trebuchet MS", "Lucida Sans";
        padding: 7px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left: 10px solid #f05d22;
        box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
        -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
        font-size: 20px;
        letter-spacing: 2px;
        transition: 0.3s all linear;
        }
        .border li:nth-child(2){border-color: #8bc63e;}
        .border li:nth-child(3){border-color: #fcba30;}
        .border li:nth-child(4){border-color: #1ccfc9;}
        .border li:nth-child(5){border-color: #493224;}
        .border li:hover {border-left: 10px solid transparent;}
        .border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
        .border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
        .border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
        .border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
        .border li:nth-child(5):hover {border-right: 10px solid #493224;}
    </style>
</head>

<body>
    @*<section class="main clearfix">*@
    <div class="main clearfix position-relative">
        <div class="work">
            <img src=@Model.Post.Path class="media" alt="" />
            @*<img src="~/images/work1.jpg" class="media" alt="" />*@
            <div class="caption">
                <div class="work_title">
                    <h1></h1>
                </div>
            </div>
        </div>
        @if(StaticUser.GetUserId(User.Identity.Name) == ViewBag.context.GetUserCollector(Model.Post.UserId).User.UserId)
        {
            <form asp-controller="Home" asp-action="SetUserAvatar" method="post">
                <input type="hidden" name="path" value=@Model.Post.Path/>
                <input type="hidden" name="postId" value="@Model.Post.Id"/>
                <input type="submit" value="Set as avatar"/>
            </form>
        }
        <div class="row-space">
                <div class="wrap-input100 position-relative">
                    <input type="text" size="40" name="com" id="message" />
                    <input type="hidden" name="pId" value=@Model.Post.Id />
                    <input type="submit" id="sendBtn" @*icon="~/images/send.ico"*@ />
                </div>
            @if (Model.Comments.Count != 0)
            {
                <ul class="border">
                    @foreach (var x in Model.Comments)
                    {
                        <li>
                            <div id="results" class="row-space">
                                <div><a href="~/Home/Profile?id=@x.UserId">@ViewBag.context.GetUserCollector(x.UserId).User.NickName : </a></div>
                                <div><a>@x.comment</a></div>
                            </div>
                        </li>
                    }
                </ul>
            }
            <div>
                <span id="commentUser"></span>
                <a id="commentPost"></a>
            </div>
            <script src="~/js/signalr.min.js"></script>
            <script>
                //Html.Hidden("messg", "a");
                const hubConnection = new signalR.HubConnectionBuilder()
                    .withUrl("/HuHub")
                    .configureLogging(signalR.LogLevel.Information)
                    .build();

                hubConnection.on("Send", function (data) {

                    //alert("asdasd");
                    let elem = document.createElement("p");
                    elem.appendChild(document.createTextNode(data));
                    let firstElem = document.getElementById("commentPost").firstChild;
                    document.getElementById("commentPost").insertBefore(elem, firstElem);
                });

                hubConnection.on("Receive", function (data) {

                    //alert(data);
                    let elem = document.createElement("p");
                    elem.appendChild(document.createTextNode(data));
                    let firstElem = document.getElementById("commentPost").firstChild;
                    document.getElementById("commentPost").insertBefore(elem, firstElem);

                });

                document.getElementById("sendBtn").addEventListener("click", function (e) {
                    alert("djsabkjdba");
                    
                    let message = document.getElementById("message").value;
                    hubConnection.invoke("Send", "@Model.Post.Id", message);
                    $.ajax({
                        url:'@Url.Action("TypeComment")',
                        type: "POST",
                        data: { com: message, pId: @Model.Post.Id },
                        dataType: "text"
                    });
                });

                hubConnection.start().then(() => {
                    hubConnection.invoke("JoinGroup", "@Model.Post.Id").catch(err => console.error(err.toString()));
                });
            </script>
            @*<span>@Model.Post.DateTime</span>*@
        </div>
    </div>
    @*</form>*@
    @*</section>*@<!-- end main -->
</body>
</html>

